<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
    <test name="Java_Learn">
        <classes>
            <!--<class name="com.qa.tests.TestApiReadXls"/>
            <class name="com.qa.tests.MemberTestApi"/>
            <class name="com.qa.experiment.CustomParameterSettings"/>-->
            <class name="com.qa.tests.TestApi"/>
        </classes>
    </test> <!-- Java_Learn -->
    <listeners>
        <!--testng的XML配置文件中添加这些内容-->
        <!-- ReportNg 报告  -->
        <!--<listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>-->
        <!--失败重跑监听器-->
        <listener class-name="com.qa.listener.RetryListener"/>
        <listener class-name="com.qa.listener.TestNGListener"/>
        <!-- ExtentReport 报告  -->
        <listener class-name="com.qa.listener.ExtentTestNGIReporterListener"/>
    </listeners>
</suite> <!-- Default Suite -->